h1{
	text-align: center;
	font-family: "Comic Sans MS";
	margin-bottom: 30px;
	color: aquamarine;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: lightseagreen;
}

div{
	margin-top: 30px;
	width: 360px;
	text-align: left;

}
#image{
	height:300px ;
	width: 300px;
}
